@model SimpleShop.Shared.Models.Product

@{
    ViewData["Title"] = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Product</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.productId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.productId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.productName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.productName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.productPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.productPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.productDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.productDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.uploadDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.uploadDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.categoryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.categoryId)
        </dd>

        
    </dl>
</div>

