@model CategoryResponse
@{
    int i = 0;
}

@if (Model != null)
{
    <ul class="list">

        <li>
            <input type="radio" id="custom-radio-all" name="category-radio" value="-1" class="form-check-input" checked="@((int)ViewBag.CurrentCategory == -1)">
            <label class="form-check-label" for="custom-radio-all">All</label>
        </li>

        @foreach (var category in Model.Categories)
        {
            <li>
                <input type="radio" id=@($"custom-radio-{i+1}") name="category-radio" value="@category.categoryId" class="form-check-input" checked="@((int)ViewBag.CurrentCategory == category.categoryId)">
                <label class="form-check-label" for="@($"custom-radio-{i+1}")">@category.categoryName</label>
            </li>
            i++;
        }
    </ul>
}
